.search__results {
    display: flex;
    flex-direction: column;
    gap: 10px; 
    padding: 10px;
    background-color: rgb(243, 207, 29, 0.1);
    border: 2px solid red;
}

.search__user-row {
    display: grid; 
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr; 
    gap: 10px; 
    padding: 10px;
    background-color: rgba(243, 148, 7, 0.1);
    border: 1px solid #f00808;
    border-radius: 4px;
    transition: transform 0.3s, box-shadow 0.3s, opacity 0.3s;
    opacity: 0.8;
}

.search__user-row:hover {
    opacity: 1;
    cursor: pointer;
    transform: scale(1.01);
}

.search__user-row:active {
    opacity: 1;
    box-shadow: inset 0 8px 15px rgba(0, 0, 0, 0.6);
    transform: scale(0.98);
    background-color: #caeeb1;
}

.user-info {
    padding: 10px;
    background-color: rgb(255, 158, 12);
    border: 1px solid #ccc;
    text-align: center;
    border-radius: 4px;
}

.search__results .user-info:first-child {
    font-weight: bold;
    background-color: #f1180d;
}

.user-info:nth-child(odd) {
    background-color: #f0b2af;
}
